@media screen and (max-width: 639px) {

    .wrapper {
        max-width: 300px;
    }

    .pandaBackground {
        
        background-position-y: 24px;
        height: 221px;
        background-size: cover;
        background-image: url(../../../images/donate/pandaMobileBG.png);
        background-repeat: no-repeat;
    }

    .pick {
        padding: 30px 0 22px 0;
    }

    .pickTable {
        padding: 20px 0 40px 0;
    }

    .pickInfoTitle {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
    }

    .pickDonationContainer {
        margin-top: 29px;
        padding: 19px 0 18px 0;
    }

    .donationTitle {
        color: #FE9013;
        align-self: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
    }

    .donationSubTitle {
        margin-top: 9px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        padding: 0 3px 0 0;
    }

    .donationSubTitle span {
        margin-left: 0;
    }

    .pandaContainer {
        margin-top: 10px;
    }

    .pandaImage {
        width: 150px;
        height: 111px;
        margin-top: 26px;
        margin-left: -10px;
    }

    .pandaNumber {
        font-weight: 500;
        font-size: 40px;
        line-height: 80%;
        margin-right: 59px;
    }

    .pandaCount {
        margin-left: 0;
        padding: 0;
    }

    .countText {
        font-weight: 400;
        font-size: 9px;
        line-height: 140%;
        margin-right: 60px;
    }

    .countX {
        width: 10px;
        height: 10px;
        right: 50px;
        top: 14px;
    }

    .amount {
        margin-top: 5px;
    }

    .pickLine {
        margin-top: 7px;
        height: 14px;
        margin-right: 0;
        margin-left: 0;
        padding: 0 15px;
    }

    .dotLine {
        width: 65px;
        left: 5px;
        top: 1px;
    }

    .dot {
        height: 5px;
        width: 5px;
    }

    .activeDot::after {
        width: 11px;
        height: 11px;
        border-radius: 14px;
        border: 2px #fe9013 solid;
        position: absolute;
        content: "";
        top: -5.5px;
        right: -5.5px;
    }

    .activeDot::before {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 2px #fe9013 solid;
        position: absolute;
        content: "";
        top: -9.5px;
        right: -9.5px;
    }

    .bodyFontAmount {
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
    }

    .amountContainer {
        margin-left: 8px;
        margin-right: 0;
        margin-top: 7px;
    }

    .amountIcon {
        margin-top: 3px;
        width: 5px;
        height: 10px;
    }

    .donateInput {
        margin-top: 24px;
    }

    .dollarAmount {
        top: 34px;
    }

    .donateButtonContainer {
        margin-top: 25px;
    }

    .shareDonate {
        margin-top: 30px;
        text-align: left;
        min-width: 301px;
    }


    footer {
        padding: 12px 0 20px 0;
    }

    footer .logoText br {
        display: none;
    }

    footer .logo {
        border: 0;
        width: auto;
        padding: 0;
        margin-right: 0;
        justify-content: center;
        margin-top: 10px;
    }

    .bamboo {
        left: 160px;
        top: 0;
    }

    .footerButtonArea {
        margin-top: 84px;
    }

    .footerSocialAreaContainer {
        display: flex;
        position: absolute;
        align-items: center;
        top: 29px;
        right: 33px;
    }

    .footerSocialArea {
        margin-top: 0;
        margin-right: 30px;
    }

    .listFooter {
        margin-top: 11px;
    }

    .navButtonF:last-child {
        min-width: 79px;
    }

    .navFooterActive {
        color: orange !important;
    }

}
